archives/ead-iisg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ead">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="eadheader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="eadid">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="countrycode"
                                                use="required" />
                                            <xs:attribute name="identifier"
                                                use="required" />
                                            <xs:attribute name="mainagencycode"
                                                use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="filedesc">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titlestmt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titleproper">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="num"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="subtitle"
                                                        type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="publicationstmt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="publisher"
                                                        type="xs:string" />
                                                    <xs:element name="address">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element
                                                                    name="addressline"
                                                                    maxOccurs="unbounded">
                                                                    <xs:complexType
                                                                        mixed="true">
                                                                        <xs:sequence
                                                                            minOccurs="0">
                                                                            <xs:element
                                                                                name="extptr"
                                                                                minOccurs="0" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="profiledesc">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="creation">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="date"
                                                        type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="langusage">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="language">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension
                                                                    base="xs:string">
                                                                    <xs:attribute
                                                                        name="langcode"
                                                                        use="required" />
                                                                    <xs:attribute
                                                                        name="scriptcode"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="descrules" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="revisiondesc">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="change" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="date"
                                                        type="xs:string" />
                                                    <xs:element name="item"
                                                        type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="countryencoding" use="required" />
                        <xs:attribute name="dateencoding" use="required" />
                        <xs:attribute name="langencoding" use="required" />
                        <xs:attribute name="relatedencoding" use="required" />
                        <xs:attribute name="repositoryencoding" use="required" />
                        <xs:attribute name="scriptencoding" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="archdesc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="did">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="unittitle">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="label"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="unitdate"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="datechar"
                                                            use="required" />
                                                        <xs:attribute name="normal"
                                                            use="required" />
                                                        <xs:attribute name="type"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="unitid">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="countrycode"
                                                            use="required" />
                                                        <xs:attribute name="label"
                                                            use="required" />
                                                        <xs:attribute
                                                            name="repositorycode"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="origination">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                    <xs:element name="corpname"
                                                        minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension
                                                                    base="xs:string">
                                                                    <xs:attribute
                                                                        name="source"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="persname"
                                                        minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension
                                                                    base="xs:string">
                                                                    <xs:attribute
                                                                        name="source"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="label"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="physdesc">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension
                                                                    base="xs:string">
                                                                    <xs:attribute
                                                                        name="altrender"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="altrender"
                                                    use="required" />
                                                <xs:attribute name="label"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="repository">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="corpname"
                                                        type="xs:string" />
                                                    <xs:element name="address">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element
                                                                    name="addressline"
                                                                    maxOccurs="unbounded">
                                                                    <xs:complexType
                                                                        mixed="true">
                                                                        <xs:sequence
                                                                            minOccurs="0">
                                                                            <xs:element
                                                                                name="extptr"
                                                                                minOccurs="0" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="label"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="langmaterial">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="language">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension
                                                                    base="xs:string">
                                                                    <xs:attribute
                                                                        name="langcode"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="bioghist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="p" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="acqinfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="p">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="date"
                                                        type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="scopecontent">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="p" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="processinfo" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="p" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="accessrestrict">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="p" maxOccurs="unbounded"
                                            type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="type" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="prefercite">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="p" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="controlaccess" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head" type="xs:string" />
                                        <xs:element name="geogname" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="normal"
                                                            use="required" />
                                                        <xs:attribute name="role"
                                                            use="required" />
                                                        <xs:attribute name="source"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="subject" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="source"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="genreform" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="source"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="persname" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="role"
                                                            use="required" />
                                                        <xs:attribute name="source"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="corpname" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="role"
                                                            use="required" />
                                                        <xs:attribute name="source"
                                                            use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dsc">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="c01" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="did">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element
                                                                    name="unittitle">
                                                                    <xs:complexType
                                                                        mixed="true">
                                                                        <xs:sequence
                                                                            minOccurs="0">
                                                                            <xs:element
                                                                                name="corpname"
                                                                                minOccurs="0"
                                                                                type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element
                                                                    name="unitid"
                                                                    type="xs:string" />
                                                                <xs:element
                                                                    name="unitdate">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension
                                                                                base="xs:string">
                                                                                <xs:attribute
                                                                                    name="calendar" />
                                                                                <xs:attribute
                                                                                    name="datechar"
                                                                                    use="required"
                                                                                    fixed="creation" />
                                                                                <xs:attribute
                                                                                    name="era" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element
                                                                    name="physdesc"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="c02" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="did">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="unittitle"
                                                                                type="xs:string" />
                                                                            <xs:element
                                                                                name="unitid"
                                                                                type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="odd"
                                                                    minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="p"
                                                                                type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="level"
                                                                use="required"
                                                                fixed="item" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="level"
                                                    use="required" fixed="file" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="level" use="required" />
                        <xs:attribute name="relatedencoding" use="required" />
                        <xs:attribute name="type" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>